@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-out;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #208637;
}
::-webkit-scrollbar-thumb {
  background: #18bd3f;
}
::-webkit-scrollbar-thumb:hover {
  background: #084d18;
}
button {
  margin: 0.5rem 0;
}
.site-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: red;
}
.card {
  margin: 1.5rem 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-width: 2px;
  border-color: #C2CAD2;
  
  animation: fadeUp 0.8s ease-out;
}
/* Login Page style start */
.form {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .form {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}
/* Login Page style end */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
table {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}
tr {
  border-bottom: 1px solid rgb(141, 135, 135);
}
td {
  padding: 0.4rem 0;
}
.user-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-controls h2 {
  margin: 0;
}