@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-out;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #208637;
}
::-webkit-scrollbar-thumb {
  background: #18bd3f;
}
::-webkit-scrollbar-thumb:hover {
  background: #084d18;
}
button {
  margin: 0.5rem 0;
}
.site-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: red;
}
.card {
  margin: 1.5rem 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-width: 2px;
  animation: fadeUp 0.8s ease-out;
}