@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');.menu {
  color: white;
  font-size: 1.5rem;}
.logo {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.center {
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.container-fluid {
  padding: .5rem 0;
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    color: #fff;
    font-size: 2rem;
    animation: theme 3s linear infinite;
  }
}
@keyframes theme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 991px) {
  .search {
    flex-basis: 50%;
  }
  .d-flex {
    margin-bottom: 1rem;
    justify-content: center;
  }
}